In [1]:
## Preliminaries
from sklearn.datasets import make_classification
import pandas as pd

In [2]:
## Create Simulated Data
# Create a simulated feature matrix and output vector with 100 samples,
features, output = make_classification(n_samples = 100,
                                       # ten features
                                       n_features = 10,
                                       # five features that actually predict the output's classes
                                       n_informative = 5,
                                       # five features that are random and unrelated to the output's classes
                                       n_redundant = 5,
                                       # three output classes
                                       n_classes = 3,
                                       # with 20% of observations in the first class, 30% in the second class,
                                       # and 50% in the third class. ('None' makes balanced classes)
                                       weights = [.2, .3, .8])

In [3]:
## View Data
# View the first five observations and their 10 features
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7,8,9
0,-2.707987,-0.174519,-0.120769,1.407588,0.898516,0.121345,0.422751,0.522995,2.731996,0.621880
1,0.875189,0.686687,1.340974,2.750699,-1.443102,-2.917620,-3.841972,4.101591,3.144859,-2.436247
2,-1.074958,0.537165,-0.047509,2.493519,0.800683,-0.245398,-2.685921,3.321347,2.942380,-2.227356
3,-1.704482,1.422133,-0.956362,1.886714,-0.134625,-0.884624,-1.125371,2.896333,3.559426,-1.975280
4,0.804201,-0.223240,2.351817,1.823441,0.098094,-2.149205,-3.383495,2.124644,1.741568,-1.203521

In [4]:
# View the first five observation's classes
pd.DataFrame(output).head()

   0
0  0
1  2
2  2
3  2
4  2